@use './base/reset';
@use "./base/typography";
@use "./pages/landing-page";
@use "./components/nav";
@use "./components/hero";


body {
    background: rgb(221,28,136);
    background: linear-gradient(0deg, rgba(221,28,136,1) 0%, rgba(168,56,224,1) 89%);
    background-attachment: fixed;
    // background-color: rgb(201, 13, 218);
}