@use './base/reset';
@use "./base/typography";
@use "./pages/landing-page";
@use "./components/nav";
@use "./components/hero";


body {
    background: #E00899;
    background: linear-gradient(0deg, #E00899 0%, #aa43e6 89%);
    background-attachment: fixed;
    // background-color: rgb(201, 13, 218);
}